<h1>This is  First Page</h1>
<form action="/add_user" method="POST">
    <input name="fname"  id="first_name" placeholder="firstName">
    <input name="lname"   id="last_name" placeholder="lastName"><br/>
    <button type="submit" id="add_user">Add</button>
</form>